.hidden {
    display: none;
}
.show {
    display: block;
}
.notsortable {
  background-color:rgba(0,0,255,0.5);
}
.pass {
  background-color:rgba(0,255,0,0.5);
}
.fail {
  background-color:rgba(255,0,0,10);
}