<div [ngSwitch]="status">
  <div *ngSwitchCase="'loading'">
    <loading-indicator></loading-indicator>
  </div>
  <div *ngSwitchCase="'active'">
    <div *ngIf="selectedRun && selectedRunInfo" class="info">
      <h2 class='well well-sm'>Run Summary</h2>
      <pie-chart [pieChartLabels]="labels" [pieChartData]="data" [pieChartColors]="colors" ></pie-chart>
      <div class="container-fluid">
        <div class="row">
      <div class="table-responsive">
        <table class='table table-bordered '>
          <thead>
            <tr>
              <th class="notsortable">Environment</th>
              <th class="notsortable">Browser</th>
              <th class="notsortable">Time</th>
              <th class="notsortable">Status</th>
              <th class="notsortable">Percentage</th>
              <th class="notsortable">Category</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{selectedRunInfo.environment | uppercase}}</td>
              <td> {{selectedRunInfo.browser | uppercase}}</td>
              <td> {{selectedRunInfo.time | uppercase}}</td>
              <td [ngClass]="selectedRunInfo.status"> {{selectedRunInfo.status | uppercase}}</td>
              <td> {{selectedRunInfo.percentage | uppercase}}</td>
              <td> {{selectedRunInfo.category | uppercase}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="row">
      <button id="details" class='btn' [class.hidden]="!showDetails" [class.show]="showDetails" (click)="gotoDetail()">View Run Details</button>
      </div>
      </div>
    </div>

  </div>
</div>
