<h2>List of Runs</h2>
 
   <div *ngIf = "runs !== undefined && runs.length === 0 ">
     <h4> Oops, No Runs found </h4>
   </div>
   <section>

     <div [ngSwitch]="status">
          <div *ngSwitchCase="'loading'">
               <loading-indicator></loading-indicator>
          </div>
          <div *ngSwitchCase="'active'">
              <ul class="runs">
                 <li *ngFor = "let run of runs;let i = index;" (click)="onSelect(run)" [class.selected]="run === selectedRun" >
                 <span class="badge">{{i}} </span> <span>{{run}}</span>
    
                <!-- each run goes here -->
                 </li>
      
               </ul>
               <button (click)="goBack()">Back</button>
          </div>
      </div>
    

    
   </section>
  
    <aside class="container">
     <run-info-table [selectedRun]="selectedRun" [collection]="collection">
     </run-info-table>
  
  </aside>
  