<div [ngSwitch]="status">
  <div *ngSwitchCase="'loading'">
    <loading-indicator></loading-indicator>
  </div>
  <div *ngSwitchCase="'active'">
      

       <run-info-table [selectedRun]="selectedRun" [collection]="collection" [showDetails]="false" >
      </run-info-table>
      <div class="container">
        <div class="row">
      <div class="table-responsive">
      <table class='table table-bordered table-striped table-hover'>
          <thead>
            <tr>
              <th class="notsortable" ></th>
              <th class="notsortable" colspan="6" >Steps</th>
              <th class="notsortable" colspan="3" >Scenarios</th>
              <th class="notsortable" colspan="2" >Features</th>
            </tr>
            <tr>
              <th >Feature</th>
              <th class="pass">Passed</th>
              <th class="fail">Failed</th>
              <th class="skip">Skipped</th>
              <th class="pending">Pending</th>
              <th class="undefined">Undefined</th>
              <th >Total</th>
              <th class="pass">Passed</th>
              <th class="fail">Failed</th>
              <th >Total</th>
              <th >Duration</th>
              <th >Status</th>
            </tr>
          </thead>

      <tr *ngFor="let info of featureInfo" >
           <td>{{info.name | uppercase}}</td>
           <td align="center"[class.pass]="info.stepPassCount > 0">{{info.stepPassCount }}</td>
           <td align="center" [class.fail]="info.stepFailCount > 0">{{info.stepFailCount}}</td>
           <td align="center" [class.skip]="info.stepSkipCount > 0">{{info.stepSkipCount }}</td>
            <td align="center" [class.pending]="info.stepPendingCount > 0">{{info.stepPendingCount }}</td>
             <td align="center" [class.undefined]="info.stepUndefinedCount > 0">{{info.stepUndefinedCount }}</td>
           <td align="center">{{info.totalSteps }}</td>
           <td align="center" [class.pass]="info.scenarioPassCount > 0">{{info.scenarioPassCount }}</td>
            <td align="center" [class.fail]="info.scenarioFailCount > 0">{{info.scenarioFailCount }}</td>
             <td align="center">{{info.totalScenarios }}</td>
           <td align="center">{{info.featureDuration}} minutes</td>
           <td align="center" [class.fail]="info.featureStatus  === 'failed'" [class.pass]="info.featureStatus  === 'passed'">{{info.featureStatus | uppercase}}</td>

          
        </tr>

      </table>
      </div>
        </div>

        <div class="row">
          <button class='btn col-sm-2 col-sm-offset-4' (click)="goBack()">Back</button>
        
        </div>
      </div>
      

  </div>
</div>
