.notsortable {
  background-color:rgba(0,0,255,0.5);
}
.passed {
  background-color:rgba(0,255,0,0.5);
}
.failed {
  background-color:rgba(255,0,0,10);
}

.skipped {
  background-color:rgba(0,0,255,0.3);
}

.pending {
  background-color:rgba(255,255,0,0.3);
}

.undefined {
  background-color:rgba(255,0,0,0.5);
}
.elements.indentation {
  padding-top: 5px;
  padding-left: 2cm;
}
.element {
  padding-top: 5px;
}
