<div [ngSwitch]="status">
  <div *ngSwitchCase="'loading'">
    <loading-indicator></loading-indicator>
  </div>
  <div *ngSwitchCase="'active'">
      
      <div class="container">
        <h1 class="well well-sm">Feature Summary</h1>
        <div class="row">
      <div class="table-responsive">
      <table class='table table-bordered table-striped table-hover'>
          <thead>
            <tr>
              <th class="notsortable" ></th>
              <th class="notsortable" colspan="6" >Steps</th>
              <th class="notsortable" colspan="3" >Scenarios</th>
              <th class="notsortable" colspan="2" >Features</th>
            </tr>
            <tr>
              <th >Feature</th>
              <th class="pass">Passed</th>
              <th class="fail">Failed</th>
              <th class="skip">Skipped</th>
              <th class="pending">Pending</th>
              <th class="undefined">Undefined</th>
              <th >Total</th>
              <th class="pass">Passed</th>
              <th class="fail">Failed</th>
              <th >Total</th>
              <th >Duration</th>
              <th >Status</th>
            </tr>
          </thead>

      <tr *ngFor="let info of featureInfo" >
           <td class="feature">{{info.name | uppercase}}</td>
           <td align="center"[class.pass]="info.stepPassCount > 0">{{info.stepPassCount }}</td>
           <td align="center" [class.fail]="info.stepFailCount > 0">{{info.stepFailCount}}</td>
           <td align="center" [class.skip]="info.stepSkipCount > 0">{{info.stepSkipCount }}</td>
            <td align="center" [class.pending]="info.stepPendingCount > 0">{{info.stepPendingCount }}</td>
             <td align="center" [class.undefined]="info.stepUndefinedCount > 0">{{info.stepUndefinedCount }}</td>
           <td align="center">{{info.totalSteps }}</td>
           <td align="center" [class.pass]="info.scenarioPassCount > 0">{{info.scenarioPassCount }}</td>
            <td align="center" [class.fail]="info.scenarioFailCount > 0">{{info.scenarioFailCount }}</td>
             <td align="center">{{info.totalScenarios }}</td>
           <td align="center">{{info.featureDuration}} minutes</td>
           <td align="center" [class.fail]="info.featureStatus  === 'failed'" [class.pass]="info.featureStatus  === 'passed'">{{info.featureStatus | uppercase}}</td>

          
        </tr>

      </table>
      </div>
        </div>
        
        <div class="row">
          <h5 class="col-sm-2">Tags:</h5>  
          <h5 class="col-sm-2" *ngFor="let info of feature.tags">
             {{info.name}}
          </h5>
        </div>

        <div class="row">
          <h5 class="col-sm-2">Feature:</h5>  
          <h5 class="col-sm-4" >
             {{feature.name}}
          </h5>
        </div>

        <div class ="row scenario">
          <div *ngFor="let scenario of feature.elements" >
             <div class="container">
               <div class="row">
                   <h5 class="col-sm-2">Tags:</h5> 
                    <h5 class="col-sm-2" *ngFor="let info of scenario.tags">
                            {{info.name}}
                     </h5>
               </div>
               <div class="row">   
                  <h5 class="col-sm-2" >
                           Scenario:
                   </h5>  
                    <h5 class="col-sm-4" >
                           {{scenario.name}}
                  </h5>
               </div>
               <div class="row">   
                  <h5 class="col-sm-2" >
                           Before:
                   </h5>  
                    <h5 class="col-sm-4" *ngFor="let info of scenario.before" >
                           {{info.match.location}}
                  </h5>
               </div>
               <div class="row">   
                  <h5 class="col-sm-2" >
                           Steps:
                   </h5>  
                    <h5 class="col-sm-4" *ngFor="let info of scenario.steps" >
                           {{info.keyword}}{{info.name}}
                           <h5 class="col-sm-4" *ngFor="let info of info.embeddings" >
                           {{info.mime_type}}
                          </h5>
                          <h5 class="col-sm-4" *ngFor="let info of info.output" >
                           {{info}}
                          </h5>
                    </h5>
               </div>
               <div class="row">   
                  <h5 class="col-sm-2" >
                           After:
                   </h5>  
                    <h5 class="col-sm-4" *ngFor="let info of scenario.after" >
                           {{info.match.location}}
                  </h5>
               </div>
             </div>
          </div>
        </div>

       

        <div class="row">
          <button class='btn col-sm-2 col-sm-offset-4' (click)="goBack()">Back</button>  
        </div>
      </div>
      

  </div>
</div>
